* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgb(246, 247, 248);
  padding: 15px;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-image: url('./images/jeremy-bishop-G9i_plbfDgk-unsplash.jpg');
  color: antiquewhite;

}

header {
display:flex;
flex-direction: row;
justify-content: space-between;
background-color: lightblue;
text-align: center;
background-image: url('');
}



h2{
display: flex;
flex-direction: row;
background-color: blueviolet;
}


h3{
display: flex;
flex-direction: row;
background-color: burlywood;
}


h4{
display: flex;
flex-direction: row;
background-color: goldenrod;
}

section{
  display:flex;
  justify-content:flex-start;
}

h5{
display: flex;
flex-direction: row;
background-color: green;
}







