* {
  box-sizing: border-box;
}

header{
  display: flex;
  background-color: teal;
  padding: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  
}

ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


body{}